- extends "booksbase.html"
- load comments

- block content
    .main
        %h4= book
        %br
        - for section in section_list

            .section
                .text
                    - for s in section.sentences.all
                        = s.body

                %a{'href': '{% url "add_comment" section.pk %}'} add comment

                .comment
                    - get_comment_list for section as comments
                    - for c in comments
                        .cbody
                            Posted by ={c.user} on ={c.submit_date}
                            %br= c.comment
            .clear

    - include "paginator.html"
