{% extends "sbbase.html" %}

<!-- LIST OF POSTS -->

{% block content %}

    <br />
    <P><form action="" method="post" accept-charset="utf-8"> {% csrf_token %}
        {{ modelform.body }}
    <p><input type="submit" value="Send" /></p>
    </form>
    <div class="main">
        {% for message in message_list %}
            <ul {% if message in unread %} class="unread" {% endif %}>
                <div class="time">{{ message.sender }} | {{ message.created }}</div>
                <div class="body">{{ message.body|linebreaksbr }}</div>
            </ul>
        {% endfor %}

        {% include "paginator.html" %}
    </div>
{% endblock %}
