{% extends "base-store9.html" %}
{% load store9_extras %}
{% block "browsertitle" %}Checkout{% endblock %}
{% block "left_content" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h4>Your Order</h4>
<div id="order">
<table cellpadding="0" cellspacing="8" border="0">
    <tr>
        <th>Name</th>
        <th>Sequence</th>
        <th>Length</th>
        <th>Variation of</th>
        <th>Notes</th>
        <th>Contact</th>
        <th>Owner</th>
        <th>Royalty rate</th>
        <th>Added</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>

    <form action="" method="POST">{% csrf_token %}
    {% for citem in cartitem_list %}
    <tr class="centered">
        {% with citem.item as item %}
            <td>{{ item.name|default_if_none:'' }}</td>
            <td class="left">{{ item.sequence|truncate2:"10" }}</td>
            <td>{{ item.product.length }}</td>
            <td>TBD {# item.variation_of #}</td>
            <td>{{ item.product.description }}</td>
            <td>{{ item.product.contact|default_if_none:'' }}</td>
            <td>{{ item.product.owner|default_if_none:'' }}</td>
            <td>{{ item.product.royalty_rate|default_if_none:'' }}</td>

            <td>{{ item.date_added }}</td>
            <td>{{ citem.quantity }}</td>
            <td>{{ citem.total|currency }}</td>
        {% endwith %}
    </tr>
    {% endfor %}

    <tr class="centered">
        <td colspan="10"></td>
        <td>{{ view.total|currency }}</td>
        <td></td>
    </tr>
</table>

<table>
    {{ modelform.as_table }}
</table>

</div>

<br />
<input type="submit" value="Confirm Order  >>" id="confirm">
</form>

{% endblock %}
