{% extends "pcbase.html" %}
{% load thumbnail %}

{% block extrahead %}
    <style type="text/css" media="screen">
        td.itemrow { border-bottom: 3px solid #ccc; }
        #container { width: 950px; }
        #content { width: 1300px; }
        .clear { clear: both; padding-bottom: 5px; }
        .module { width: 950px; }
        .left { float: left; }
    </style>
{% endblock %}

{% block content %}
<div class="main">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% if formset.forms %}
        <div id="submit"><input id="submit-btn" type="submit" value="Apply"></div>
    {% endif %}

    <div class="clear"></div>
        {{ formset.management_form }}

        <!-- FOR EACH FORM -->
        {% for form in formset %}
            <span class="left">
                <a href="{{ form.instance.image_url }}">
                <img src="{% thumbnail form.instance.image 80x80 crop %}" alt="" /></a>
                <p>Email: {{ form.instance.email_profile.email }}</p>
            </span>
            <fieldset class="module aligned">
                {{ form.id }}
                {{ form.non_field_errors }}

                <!-- FOR EACH FIELD -->
                {% for fld in form %}
                    <div class="form-row">
                        <!-- <label class="{% if fld.field.required %} required {% endif %}">{{ fld.label }}</label> -->

                        <label>{{ fld.label }}</label>
                        {{ fld }} {{ fld.errors }}
                    </div>
                {% endfor %}

            </fieldset><br />
        {% endfor %}

        {% if formset.forms %}
            <div id="submit"><input id="submit-btn" type="submit" value="Apply"></div>
        {% endif %}
    </form>
</div>
{% endblock %}
