<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Photo Contest{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/photo_contest.css" type="text/css" media="screen" charset="utf-8" />
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3><a href="{% url 'pc-main' %}">PhotoContest</a></h3>
                <a href="/">Root</a>
                <!-- <a href="{# url 'pc-add-image' #}">Add Image</a> -->
                <a href="{% url 'moderation' %}">Moderation</a>
                {% if user.is_staff %}
                    <a href="{% url 'admin:app_list' 'photo_contest' %}">Admin</a>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
