<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}CalApp{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/cal.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">

        {% if reminders %}
        <div class="reminders">
            <div class="gr">Alerts</div>
            {% for reminder in reminders %}<p> {{ reminder.short|safe }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3><a href="{% url cal.views.main %}">CalApp</a></h3>

                {% if user.is_staff %} <a href="/admin/cal/">Admin</a> {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url cal.views.settings %}">Settings</a> {% endif %}

            {% endblock %}
        </div>

        <div id="content">

            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>

