{% extends "cal/cbase.html" %}

{% block content %}
    <div class="main">

    <div class="clear"></div>

    <a href="{% url 'main' year|add:'-3' %}">&lt;&lt; Prev</a>
    <a href="{% url 'main' year|add:'3' %}" style="margin-left: 450px;">Next &gt;&gt;</a>

        {% for year, months in years %}
            <div class="clear"></div>

            <h4>{{ year }}</h4>
            {% for month in months %}

                <div class=
                {% if month.current %}"current"{% endif %}
                {% if not month.current %}"month"{% endif %} >
                    {% if month.entry %}<b>{% endif %}
                        <a href="{% url 'month' year month.n %}">{{ month.name }}</a>
                    {% if month.entry %}</b>{% endif %}
                </div>

                {% if month.n == 6 %}<div class="clear"></div>{% endif %}
            {% endfor %}
        {% endfor %}

    </div>

{% endblock %}
