{% extends "cal/cbase.html" %}

{% block content %}

    <div class="main">
    <a href= "{% url 'month' year month "-1" %}">&lt;&lt; Prev</a>
    <a href= "{% url 'month' year month "1" %}" style="margin-left: 600px;">Next &gt;&gt;</a>


    <h4>{{ mname }} {{ year }}</h4>

    <div class="month-table">
        <table border=0>

        <tr>
        {% for d in daynames %} <td class="empty">{{ d }}</td> {% endfor %}
        </tr>

        {% for week in month_days %}
            <tr>
            {% for day, entries, current in week %}

                <!-- TD style: empty | day | current; onClick handler and highlight  -->
                <td class= {% if day == 0 %}"empty"{% endif %}
                "{% if day != 0 %}day{% endif %}
                 {% if current %}dcurrent{% endif %}"

                {% if day != 0 %}
                    onClick="parent.location='{% url 'day' year month day %}'"
                    onMouseOver="this.bgColor='#eeeeee';"
                    onMouseOut="this.bgColor='white';"
                {% endif %} >

                <!-- Day number and entry snippets -->
                {% if day != 0 %}
                    {{ day }}
                    {% for entry in entries %}
                        <br />
                        <b>{{ entry.creator }}</b>: {{ entry.short|safe }}
                    {% endfor %}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>

        <div class="clear"></div>
    </div>
    </div>

{% endblock %}
