{% extends "cal/base.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; width: 700px; }
        .entry { border: 3px solid #eee; padding: 10px; width: 400px; }
        .del { float: right; }
        h4 { text-align: left; margin-left: 50px; }
    </style>

    <div class="main">
    <h4>Settings</h4>
    <form action="" method="POST"> {% csrf_token %}
    <table>
        {{ formset.as_table }}
    </table>
    <input type="submit" value="Save" />
    </form>
    </div>

{% endblock %}
