{% extends "pbase.html" %}

{% block content %}
    <div class="main">
        {% include "messages.html" %}

        <!-- Albums  -->
        <ul>
            {% for album in albums %}
                <div class="title"><a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                    ({{ album.images.count }} images)</div>
                <ul>
                    {% for img in album.images.all|slice:":4" %}
                        <a href="{{ img.get_absolute_url }}">
                            <img border="0" alt="" src="{{ img.thumbnail2_url }}" /></a>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>

        {% include "paginator.html" %}
    </div>
{% endblock %}
