{% extends "pbase.html" %}

{% block content %}
    <style type="text/css" media="screen">
        li { float: left; }
        ul { margin-left: 10px; }
    </style>

    <div class="main">
        {% include "messages.html" %}

        <form action="" method="get" accept-charset="utf-8">{% csrf_token %}
            <table id="search">
                <tr>
                {% for field in form %}
                    {% if field.name != "albums" %}
                        <td>{{ field.label }}</td>
                    {% endif %}
                {% endfor %}
                </tr>

                <tr>
                {% for field in form %}
                    {% if field.name != "albums" %}
                        <td>{{ field }} {{ field.errors }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        <p> <span id="albums">Albums:</span> {{ form.albums }}
            <input id="submit" type="submit" value="Search" />
        </p>
        </form>

        <!-- Images  -->
        {% for img in images %}
                <div class="thumbnails2">
                    <a href="{{ img.get_absolute_url }}">
                        <img border="0" alt="" src="{{ img.thumbnail2_url }}" /></a>
                    <br />
                    <div class="thumbnail">{{ img.title }}&nbsp;[{{ img.rating }}]</div>
                </div>
        {% endfor %}

        <div class="clear"></div>
        {% include "paginator.html" %}
    </div>
{% endblock %}
