/* parts.css, July 2010 */

.gray {
	color: #777;
}


/* #id_available is a checkbox (though may need t/f/NA) */


#id_status_star {
	width: 20px;
}


#id_status_cell {
	width: 20px;
}


#id_name {
	width: 100px;
}


#id_protein {
	width: 90px;
}


#id_description {
	width: 300px;
}


#id_direction {
	width: 80px;
}


#id_tag {
	width: 80px;
}


#id_length {
	width: 40px;
}